//colors
//light theme
$lightmaincolor:#f5f7fa;
$ligthsubcolor:#e6e9ed;
$seclightmaincolor:#ccd1d9;
$seclightsubcolor:#aab2bd;
$ligthCTAcolor:#ed5565;
$lighttextcolor:#2f3c45;
$ligthbodybackgd:#f7e7ce;
//dark theme
$darkmaincolor:#656d78;
$darksubcolor:#434a54;
$secdarkmaincolor:#424242;
$secdarksubcolor:#212121;
$darkCTAcolor:#da4453;
$darktextcolor:#eeeeee;
$darkbodybackgd:#02020a8e;
//fonts
$logofont:'Playball',
cursive;
$signaturefont:'Parisienne',
cursive;
$headerfont:'Oswald',
sans-serif;
$paragraphfont:'Lato',
sans-serif;