.index-cta {
    padding: .2rem;
    margin: 1rem 0;
    font-family: $paragraphfont;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .2rem;
    border-radius: 5px;
    transition-property: all;
    transition-delay: .2s;
    transition-duration: .2s;
    transition-timing-function: ease-in;
}